<!DOCTYPE html>
  <html>
    <head>
      <title>VLAB NITW | Dashboard</title>
      <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">

      <!--Import Google Icon Font-->
      <!--Import Google Icon Font-->
      <link href="/fonts/roboto/MaterialIcons-Regular.woff" rel="stylesheet">
      <link href="/fonts/roboto/fontconfig.css" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/materialize"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
    </head>

    <body>
<header>
  <div class="row">
    <div class="col m4" style="background-color:#ffffff; text-align: left;"><a href="https://www.nitw.ac.in/main/home/"><img src="/images/nitw.png" width="175px"></a></div>
    <div class="col m4" style="background-color:#ffffff; text-align: center;"><a href="/" ><img src="/images/vlabs.png" width="175px"></a></div>
    <div class="col m4" style="background-color:#ffffff; text-align: right;"><img src="/images/cet.png" width="175px"></div>
  </div>

</header>
<hr>
<!-- 
  <nav class="blue">
    <div class="nav-wrapper">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>  

      <a href="/" class="brand-logo">&nbsp;&nbsp;&nbsp;&nbsp;Virtual Lab NIT Warangal</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/accept">Labs Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div>
  </nav>
                   
 -->
 <!---Navbar-->
<ul id="slide-out" class="side-nav">
    <li><div class="user-view">
<!--       <div class="background">
        <img src="images/office.jpg">
      </div>
 -->      <!-- <a href=""><img class="circle" src="images/yuna.jpg"></a> -->
      <a href=""><span class="name">{{name}}</span></a>
      <a href=""><span class="email">{{email}}</span></a>
    </div></li>
    <li><a class="waves-effect" href="/accept"><i class="material-icons">home</i>Home</a></li>
    <li><a class="waves-effect" href="/history"><i class="material-icons">history</i>Access History</a></li>
    <li><a class="waves-effect" href="/profile"><i class="material-icons">person</i>Profile</a></li>

    <li><a class="waves-effect" href="/logout"><i class="material-icons">power_settings_new</i>Logout</a></li>
  </ul>

<!--Navbar-->
<div class="row">
<div class="col m2 s12">

       <div class="collection">
        <a class="collection-header"><b><center>Navigation</center></b></a>
        <a href="/admindash" class="collection-item">Approve students</a>
        <a href="/querydash" class="collection-item">Queries</a>
        <a href="/accept?message=switched to student view" class="collection-item">View as a student</a>
        <a href="/profile" class="collection-item">Profile</a>
        <a href="/createuser" class="collection-item">Add user</a>
        <a href="/testi" class="collection-item">Add lab experiment</a>
        <a href="/crquiz" class="collection-item">Add lab quiz</a>
        <a href="/logout" class="collection-item">Logout</a>
      </div>
      <!-- <hr> -->


</div>
<div class="col m10 s12">{{{content}}}</div>
</div>


  <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Virtual labs</h5>
                <p class="grey-text text-lighten-4">Open source virtual lab project by students of ECE, 2014-18 batch</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/sushrut111/vlab">Github Repo</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 
            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            </div>
          </div>
        </footer>      


     <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="/js/materialize.js"></script>
      
      {{#each jscript}}
       <script type="text/javascript" src="/js/{{this}}.js"></script> 
      {{/each}}
      <script type="text/javascript">
         // $(".button-collapse").sideNav();

          $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 300
      // edge: 'right', // Choose the horizontal origin
      closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true, // Choose whether you can drag to open on touch screens,
      onOpen: function(el) {  }, // A function to be called when sideNav is opened
      onClose: function(el) { }, // A function to be called when sideNav is closed
    }
  );
        


      </script>
      <script type="text/javascript">
 // Materialize.toast({{message}}, displayLength, className, completeCallback);
 $( document ).ready(function() {
    Materialize.toast('{{message}}', 3000, 'rounded');
});


 $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
      

 </script>








    </body>


  </html>
