<head>

<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
</head>
{{{content}}}


<script type="text/javascript">
 // Materialize.toast({{message}}, displayLength, className, completeCallback);
 window.alert("this is by default");
 $( document ).ready(function() {
    Materialize.toast('{{message}}', 3000, 'rounded');
});
 </script>